body {
    background-color: #333;
    color: #fff;
    font-family: 'Georgia', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.quote-container {
    background-color: transparent;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.generate-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.generate-btn:hover {
    background-color: #555;
}

.share-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.share-buttons a {
    color: #fff;
    text-decoration: none;
    background-color: #444;
    padding: 10px 20px;
    border-radius: 5px;
}

.share-buttons a:hover {
    background-color: #666;
}
